
.normal {
    background-color: #a6ab77;
} 
.fire {
    background-color: #ec8484;
} 
.water {
    background-color: #6699ff;
} 
.grass {
    background-color: #339933;
} 
.electric  {
    background-color:#f0ec05 ;  
}
.psychic {
    background-color: #f656b7;
}
.poison {
    background-color: #a048a0;
}
.ground {
    background-color: #dfbd69;
}
.ice {
    background-color: #9bd5d7;
}
.flying {
    background-color: #a98ffa;
}
.fighting {
    background-color: #bf3829;
}
.dark {
    background-color: #723847;
}
.rock {
    background-color: #b8a137;
}
.bug {
    background-color: #a8b72e;
}
.ghost {
    background-color: #6e5896;
}
.steel {
    background-color: #b9b7cf;
}
.dragon {
    background-color: #6f38f6;
}
.fairy {
    background-color: #f9aec7;
}